<div id="first_interest">

  <h2 class="interest_title">The Beans</h2>


  <img src="http://i.imgur.com/EJjWrY4.png" height=240px width=240px>

 <ul class="main_page">
    <li><a href="#">Types & History & Space filler</a></li>
    <li><a href="#">Roasting Methods & Space Filler</a></li>
</ul>

<h3 class"main_page">Lani's Pick: Sumatra</h3>

<p class="main_page">
  Staff pick of the month, courtesy of Lani Frizelle, is the Sumatra Blah blah bean from the upper hills of the sun dusted blah blah.

  Expert Hank Smith has much more to say. <a href="#">Click HERE</a>

  </p>



</div>
