<div id="second_interest">

  <h2 class="interest_title">The Brew</h2>

  <img src="http://i.imgur.com/IcYZDy1.png" height=240px width=240px>

 <ul class="main_page">
    <li><a href="#">Appliances & Kitchenware</a></li>
    <li><a href="#">Signature Brewing Recipes</a></li>
</ul>

<h3 class"main_page">A Look at the Ibrik</h3>

<p class="main_page">
  Norah Vim dusts off her boots and heads to Turkey to learn about how to prepare the very best Ibrik brewed coffee. Along the way, she has a talk with local legend blah blah. <br><br>

  Learn more about what makes this brew method this month's "My Best Coffee" feature. <a href="#">Click HERE</a>

</p>


</div>
