<div id="third_interest">

  <h2 class="interest_title">The Experience</h2>



  <img src="http://i.imgur.com/qVESDJS.png" height=300px width=300px>

 <ul class="main_page">
    <li><a href="#">Presentation & Consumption</a></li>
    <li><a href="#">Community Connections</a></li>
  </ul>

<h3 class"main_page">Checking out Fika in NYC</h3>

<p class="main_page">
  Lance Kilmar heads to one of NYC's best reviewed coffee spots, Fika, located near Madison Square Park and the historic Flat Iron building. Barista Paula Nelltz makes him an Americano and he samples some of Fika's beloved truffles<br><br>

  For full story, <a href="#">Click HERE</a>

</p>


</div>
