<div id="third_interest">

  <h2 class="interest_title">The Experience</h2>

 <ul class="interest">
    <li><a href="#">Presentation & Consumption</a></li>
    <li><a href="#">Community</a></li>
  </ul>

  <img src="http://i.imgur.com/2jKAV0e.png" height=300px width=300px>

  <p class="main_page">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a consectetur purus. Pellentesque at leo erat, id pellentesque sapien. Cras id purus sem. Nulla lacinia consequat nulla, vitae porttitor urna venenatis id. Nam iaculis risus ac mauris vestibulum malesuada. Nulla dolor mi, cursus sed ornare vel, feugiat sed nibh. <a href="#">DOWNLOAD</a></p>


</div>
