<% if logged_in? %>
<a href="/logout"> Logout</a>
<% end %>

<img id="img1" src="http://i.imgur.com/Ny2yBnU.jpg">
<article>

<h1>Welcome to My Best Coffee!</h1><br>

<h2>Dedicated to getting you your best cup of coffee every time you stop in!</h2>

<h2>Let's get started! First off, do you want to make your own cup or do you want someone else to make it for you?</h2>

<form name="who_makes_coffee" action="/recipes" method="get">
  <p><input type="submit" name="who_makes_coffee" value="I will make it">
  <input type="submit" name="who_makes_coffee" value="Someone else"></p>
</form>

</article>







