<div id="invisible_horizontal_divider">

  </div>



<div id="interest">

  <%= render "welcome/firstinterest" %>

  <%= render "welcome/secondinterest" %>

  <%= render "welcome/thirdinterest" %>

</div>

<div id="invisible_horizontal_divider">

  </div>




