/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    background-color: rgba(10,140,90,.06);

}

.container {

  max-width: 750px;
  margin: 0 auto;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 22px;
}

.container .three.columns  { width: 160px; }

header {
color: rgba(132,121,111,.9);
text-transform: uppercase;
font-size: 16px;
}

img {
margin: 0px 0px 0px -20px;
padding: 2px;
border-style:solid;
border-radius: 10px;
border: 0px rgba(210,170,90,.8);
width: 400px;
height: 400px;
}

#img1 {
width: 643px;
height: 464px;
}

img:hover
{
opacity:0.55;
filter:alpha(opacity=55); /* For IE8 and earlier */
}

#img1:hover
{
opacity:1;
filter:alpha(opacity=1); /* For IE8 and earlier */

}

article {
max-width: 500px;
padding: 0px;
margin: 0 auto;
}


a:link, a:visited, a:active { color: rgba(132,121,111,.9); }
 a:hover { color: rgba(210,60,90,.8); }

h1 {
  color: rgba(132,121,111,.9);
  font-weight: normal;
  padding: 20px 0px 5px 0px;

}

h2 {
  color: rgba(132,121,111,.9);
  text-transform: none;
  font-size: 16px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 20px 0px
}

h3 {
  color: rgba(132,121,111,.9);
  text-transform: none;
  font-weight: normal;
  font-size: 14px;
  padding: 0px 0px 15px 0px;
  margin: 10px;
}

p {
  font-size: 16px;
  color: rgba(132,121,111,.9);
  text-transform: none;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 4px;
  font-weight: normal;
  max-width: 350px;
  margin: 0 auto;
}

.p2 {
  font-weight: normal;
}

ul {
  max-width: 364px;
  margin: 0px auto;
  padding: 10px 0px 0px 0px;

}

li {
font-size: 12px;
text-transform: none;
display:inline-block;
padding: 0px 4px 0px 4px;
}

@media (max-width: 500px) {
h1 {
font-size: 30px;
padding: 5px;
}
li {
padding: 5px;
display: block;
}
