/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}



/*-----------------------------------------------------------------------------
BASE STYLE
-----------------------------------------------------------------------------*/

body {
  background-color: rgba(10,140,90,0.06);
}

#wrapper {
  width: 980px;
  margin: 0 auto;
}


#header {
  position: relative;
  width: 980px;
  top: 0px;
  left: 0px;
  background-color: #3B2B20;
  margin-bottom: -20px;
}


#login_sign_up {
  position: relative;
  top: 10px;
  right: 20px;
  text-align: right;
  display: inline;
}

#welcome {
  position: static;
  display: block;
  text-align: center;
}

#container {
  position: relative;
  width: 980px;
  margin: auto;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 26px;
  overflow: auto;
}

#first_interest {
  display: inline-block;
  width: 322px;
  margin: 0 auto;
  background-color: rgba(200,214,154,.3);
  padding: 0px 15px 15px 15px;
}

#second_interest {
  display: inline-block;
  width: 322px;
  margin: 0 auto;
  background-color: rgba(248,247,220, .2);
  padding: 0px 15px 15px 15px;

}

#third_interest {
  display: inline-block;
  width: 322px;
  margin: 0 auto;
  background-color: rgba(83,76,72,.1);
  padding: 0px 15px 15px 15px;

}

#footer {
  width: 980px;
  margin: auto;
}


.footer {
  display: inline-block;
  margin-top: 6px;
  margin-right: 20px;
  padding: 0;
}


img {
  margin: 0px 0px 0px -3px;
  padding: 2px;
  border-style:solid;
  border-radius: 10px;
  border: 0px rgba(210,170,90,.8);
  width: 300px;
  height: 300px;
}


a:link, a:visited, a:active { color: rgba(132,121,111,.9); text-decoration: none;}
 a:hover { color: rgba(210,60,90,.8); }


.header a:link, a:visited, a:active {
  color: rgba(223,229,227,.75);
  text-decoration: none;
}

.header a:hover { color: rgba(210,60,90,.8); }

.interest a:link, a:visited, a:active {
  color: black;
}

.interest a:hover { color: rgba(210,60,90,.8); }





h1 {
  color: rgba(132,121,111,.9);
  font-weight: normal;
  font-size: 26px;
  padding: 0px;
  margin-top: 0px;
}


img:hover
{
opacity:0.55;
filter:alpha(opacity=55); /* For IE8 and earlier */
}


#header h1, #header h2, #header h3 {
/*  color: rgba(255,200,30,.9);*/
  color: rgba(255,232,202,1);

  letter-spacing: .5em;
  padding: 20px;
}

#header h1 {
  padding: 4px;
  letter-spacing: .4em;
  margin-bottom: -10px;
}


h2 {
  color: rgba(132,121,111,.9);
  text-transform: none;
  font-size: 22px;
  font-weight: 500;
}


.interest_title {
  font-size: 25px;
  letter-spacing: .6px;
  margin-top: 17px;
  margin-bottom: 17px;
}


h3 {
  color: rgba(132,121,111,.9);
  text-transform: none;
  font-weight: normal;
  font-size: 18px;
  padding: 0px;
}


p {
  font-size: 16px;
  color: rgba(132,121,111,.9);
  text-transform: none;
  font-weight: normal;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  display: block;
  letter-spacing: .3px;
}

li {
  line-height: 1.3em;
  display: block;
}


.main_page {
  font-size: 14px;
  font-weight: 300;

}
