
.container {

  max-width: 750px;
  margin: 0 auto;

  text-align: center;

}
  background: url('../images/background.jpg') repeat-x #d6d6d6; /* add a fallback color of #d6d6d6 */
  color: #000000;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.7; /* line-height is unit-less */
  font-size: 12px;
}

a {
  color: #ff3300;
  text-decoration: none;
  font-weight: bold;
}

/* Put the image on the <a> and not the <h1> itself so that the link works properly */
h1 a {
  background: url('../images/logo.png') no-repeat;
  width: 216px;
  height: 213px;
  margin: auto;
  display: block;

  /* image replacment technique */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

h2 {
  font-size: 20px;
  margin: 10px 0;
}
  h2 a {
    text-decoration: none;
    color: #000000;
  }



/*-----------------------------------------------------------------------------
LAYOUT
-----------------------------------------------------------------------------*/

/* Center the container */
#container {
  width: 940px;
  margin: auto;
}

#header {
  margin-bottom: 40px;
}

#main {
  background: #FFF;
  float: left;
  width: 640px;
  padding: 20px;
}

  .post {
    margin-bottom: 50px;
  }

  .post-meta {
    border-top: 2px #000 dotted;
    border-bottom: 2px #000 solid;
    width: 600px;
    display: block;

  }

#sidebar {
  width: 280px;
  float: left;
  background: #FFF;
  margin-left: 20px;
  padding: 27px;
}

  #sidebar .widget {
    margin: 0 0 18px 0;

  }

#sidebar ul {
  color: #000;
  list-style: none;

}

#sidebar li {
  list-style: none;

}

#sidebar a {
  color: #000;
  text-decoration: none;
}

footer {
  margin: 50px;
  text-align: center;


}




#wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 250px;
  margin: 0 auto;
  width: 980px;
  min-height:100%;
}

header {
  margin: 0 auto;
  width: 980px;
}

#collection {
  width: 980px;
  margin: 0 auto;
  position: absolute;
}

#article {
  position: absolute;
  width: 640px;
  margin: 0 10px 0 10px;
  background-color: white;
  padding: 15px 15px 15px 15px;

}

#article footer p {
  margin-bottom: 40px;
  border-bottom-style: double;
  border-top-style: dotted;
  padding: 10px 0;
}

#sidebar {
  position: absolute;
  width: 280px;
  top: 0;
  right: 0;
  background-color: white;
  padding: 6px;

}

p {
    color: #000000;
}

#sidebar p {
  position: relative;
  margin: 20px 30px;
  line-height: 1.5em;

}

a {
  text-decoration: none;
}

a:hover {
  color: #cc6633;
}


body {
  margin: 0;
  background-image:url("../images/background.jpg");
  background-color:#d6d6d6;
  background-repeat:repeat-x;
  font-family: Helvetica;
  font-weight: lighter;
}




.logo {
  display: block;
  margin: 0 auto;
}

.media_buttons {
  display: inline-block;
  margin: 20px;
}

.sidebar {
  display: block;
/*  top: 0px;*/
  margin: 0 auto 20px auto;
}

.sidebar_final {
  display: block;
/*  top: 0px;*/
  margin: 0 auto 45px auto;
}

.bottom_footer {
  position: fixed;
  bottom: 0;
  background-color:#d6d6d6;
  margin: 0;
  width: 980px;
}








body {
    background-color: rgba(10,140,90,.06);
}

.container {

  max-width: 750px;
  margin: 0 auto;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 22px;
}

.container .three.columns  { width: 160px; }

header {
color: rgba(132,121,111,.9);
text-transform: uppercase;
font-size: 16px;
}

img {
margin: 0px 0px 0px -20px;
padding: 2px;
border-style:solid;
border-radius: 10px;
border: 0px rgba(210,170,90,.8);
width: 400px;
height: 400px;
}

#img1 {
width: 643px;
height: 464px;
}

img:hover
{
opacity:0.55;
filter:alpha(opacity=55); /* For IE8 and earlier */
}

#img1:hover
{
opacity:1;
filter:alpha(opacity=1); /* For IE8 and earlier */

}

article {
max-width: 500px;
padding: 0px;
margin: 0 auto;
}


a:link, a:visited, a:active { color: rgba(132,121,111,.9); }
 a:hover { color: rgba(210,60,90,.8); }

h1 {
  color: rgba(132,121,111,.9);
  font-weight: normal;
  padding: 20px 0px 5px 0px;

}

h2 {
  color: rgba(132,121,111,.9);
  text-transform: none;
  font-size: 16px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 20px 0px
}

h3 {
  color: rgba(132,121,111,.9);
  text-transform: none;
  font-weight: normal;
  font-size: 14px;
  padding: 0px 0px 15px 0px;
  margin: 10px;
}

p {
  font-size: 16px;
  color: rgba(132,121,111,.9);
  text-transform: none;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 4px;
  font-weight: normal;
  max-width: 350px;
  margin: 0 auto;
}

.p2 {
  font-weight: normal;
}

ul {
  max-width: 364px;
  margin: 0px auto;
  padding: 10px 0px 0px 0px;

}

li {
font-size: 12px;
text-transform: none;
display:inline-block;
padding: 0px 4px 0px 4px;
}

@media (max-width: 500px) {
h1 {
font-size: 30px;
padding: 5px;
}

li {
padding: 5px;
display: block;
}

}
