
    <ul>
      <li class="footer"><%= link_to "About Us", new_user_path %></li>
      <li class="footer"><%= link_to "Search Site", session_new_path %></li>
      <li class="footer"><%= link_to "Make a purchase", new_user_path %></li>
      <li class="footer"><%= link_to "Contact us", session_new_path %></li>
    </ul>

