<div id="horizontal_divider_footer">

</div>


    <ul>
      <li class="footer"><%= link_to "about Us", new_user_path %></li>
      <li class="footer"><%= link_to "search Site", session_new_path %></li>
      <li class="footer"><%= link_to "make a Purchase", new_user_path %></li>
      <li class="footer"><%= link_to "contact Us", session_new_path %></li>
    </ul>


